.Game {
    display: flex;
    flex-direction: row;
}

.Game-info {
    margin-left: 20px;
}

.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;

    &:first-of-type {
        margin-left: 0;
        padding-left: 0;
    }
}

.Success {
    color: #5C9210;
}

.Output {
    margin-left: 20px;
}